
<div class="container-fluid colored-section">
  <footer>
    <a href="https://twitter.com/DanielChiwuzoh">
      <i class="social-icon fab fa-twitter"></i>
    </a>
    <a href="https://instagram.com/the.dumebi">
      <i class="social-icon fab fa-instagram"></i>
    </a>
    <a href="mailto:chiwuzohdaniel@gmail.com">
      <i class="social-icon fas fa-envelope"></i>
    </a>
    <a href="tel:+2348028611554">
      <i class="social-icon fas fa-phone"></i>
    </a>
    <% const currentYear = new Date().getFullYear(); %>
    <p><%= currentYear %> Copyright &copy; Dumebi</p>
  </footer>
</div>


</body>

</html>
