<%- include("partials/header") -%>

<section id="title" class="colored-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="big-heading">Welcome to your coin wallet.</h1>
        <p>Manage your coins with ease.</p>
      </div>
      <div class="col-lg-6 my-3">
        <a
          class="btn btn-dark btn-lg big-heading"
          style="background-color: white; color: #4f5c4f"
          type="button"
          href="/login"
        >
          Get Started
        </a>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
