<%- include('partials/header') %>

<div class="container-fluid colored-section">
  <h1 class="big-heading">Register</h1>
</div>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-md-8">
      <form class="create-article" action="/api/users/signup" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Daniel@example.com"/>
        </div>
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="DMB"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <button type="submit" class="btn btn-dark">Register</button>
      </form>
      <br />
      <p>
        Already have an account?
        <a href="/login" class="btn btn-dark">Login</a>
      </p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
